@import "tailwindcss";

@font-face {
  font-family: "rubik";
  src: url("./fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "seaweed";
  src: url("./fonts/SeaweedScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply text-gray-800 font-[rubik] scroll-smooth overflow-x-hidden box-border;
}

.container {
  @apply w-5/6 max-w-[90%] mx-auto;
}

@media screen and (min-width: 850px) {
  .container {
    @apply w-4/6;
  }
}

header {
  @apply fixed left-0 top-0 right-0 h-fit bg-[hsl(24,100%,95%)] transition-all duration-75 z-100;
}

header.up {
  @apply -translate-y-full;
}

header.down {
  @apply -translate-y-0;
}

nav {
  @apply h-[6.5em] grid grid-cols-3 items-center;
}

nav svg {
  @apply size-7 stroke-gray-800;
}

nav a {
  @apply tracking-widest font-[bebas] font-semibold;
}

.logo-container {
  @apply h-[3em] w-full flex justify-center;
}

.logo-container a {
  @apply inline-block w-fit;
}

.logo-container img {
  @apply block h-full w-[3em] object-cover;
}

.links-container {
  @apply col-[1/2] row-[1/2];
}

.links-container > ul {
  @apply hidden;
}

.link {
  @apply relative p-0.5 inline-block transition-all;
}

.link:hover {
  background-color: hsl(24, 100%, 75%);
  transform: rotate(-2deg);
}

.link.active {
  background-color: #ff6600;
  color: white;
  transform: rotate(-2deg);
}

.alt-btns {
  @apply flex justify-end gap-x-4;
}

.hamburger {
  @apply cursor-pointer;
}

.alt-links {
  @apply fixed top-0 left-0 right-0 bg-[rgba(0,0,0,.1)] h-[100dvh] z-10;
}

.alt-links .content {
  @apply bg-white w-2/3 h-full p-3;
}

@media screen and (width >= 450px) {
  .alt-links .content {
    @apply w-1/2;
  }
}

.close-btn-container {
  @apply flex justify-end mb-5;
}

.close-btn-container button {
  @apply cursor-pointer;
}

@media screen and (width >= 850px) {
  .logo-container {
    @apply justify-start;
  }

  .links-container {
    @apply col-[2/3];
  }

  .hamburger {
    @apply hidden;
  }

  .links-container > ul {
    @apply flex gap-x-10;
  }

  .alt-links {
    @apply hidden;
  }
}

.search-form {
  @apply fixed top-0 left-0 right-0 bg-[hsl(24,100%,97%)] h-[7.5em];
}

.carousel {
  @apply overflow-auto snap-mandatory snap-x scroll-px-0 scroll-py-[24px] [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none];
}

.scroll-container {
  @apply flex items-center justify-center w-fit gap-x-2;
}

.scroll-container li {
  @apply h-[20em] w-[15em] sm:h-[25em] sm:w-[20em] snap-start relative;
}

.scroll-container li::after {
  @apply absolute content-[''] inset-0 bg-[rgba(0,0,0,.1)] pointer-events-none;
}

.scroll-container img {
  @apply block w-full h-full object-cover grow-0 shrink-0;
}

.cross {
  @apply relative w-[.5em] h-[.5em] cursor-pointer overflow-hidden;
}

.cross-container {
  @apply flex items-center justify-center;
}

.cross-container:nth-child(odd) .cross {
  animation: go-in-circles 1s ease-in-out 1s infinite;
}

.vertical {
  @apply absolute inset-0 border-b-[.5px] border-[#ff6600] h-1/2 translate-y-[.5px];
}

.horizontal {
  @apply absolute inset-0 w-1/2 border-r-[.5px] border-[#ff6600] -translate-x-[-.5px];
}

.switch {
  @apply flex items-center justify-center relative py-[1px] w-7 rounded-2xl bg-[#ff6600];
}

.toggler {
  @apply w-3.5 h-3.5 rounded-full absolute bg-[hsl(24,100%,97%)] transition-all;
}

.toggler.on {
  @apply translate-x-1.5;
}

.switch.off {
  @apply bg-[hsl(24,100%,90%)];
}

.toggler.off {
  @apply -translate-x-1.5 bg-[#ff6600];
}

@keyframes go-in-circles {
  100% {
    transform: rotate(360deg);
  }
}
