@import "tailwindcss";

@font-face {
  font-family: "rubik";
  src: url("./fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bebas";
  src: url("./fonts/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "seaweed";
  src: url("./fonts/SeaweedScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-[rubik] text-gray-800 overflow-x-hidden scroll-smooth pt-[6.5em];
}

a {
  @apply font-[bebas];
}

.navbar-container {
  @apply fixed z-10 w-full top-0 left-0 bg-white transition-transform duration-75;
}

.navbar-container.up {
  @apply -translate-y-full;
}

.navbar-container.down {
  @apply -translate-y-0;
}

.navbar {
  @apply h-[6.5em] grid grid-cols-[repeat(4,1fr)] place-content-center;
}

.navbar__logo a {
  @apply inline-block w-[4em];
}

.navbar__logo img {
  @apply block w-full h-full -translate-x-4;
}

nav {
  @apply font-semibold col-[2/4];
}

nav li {
  @apply w-fit;
}

nav ul {
  @apply flex items-center justify-start h-full gap-[5em];
}

nav a {
  @apply w-fit inline-block relative transition-all ease-in-out duration-[0.3s] font-bold tracking-widest;
}

nav a:hover {
  animation: slide-in 0.1s linear;
}

nav a.active::after,
nav a:hover::after {
  @apply absolute bottom-0 left-0 content-[''] w-full h-[0.1em] bg-[#ff6600];
}

.alt-nav {
  @apply flex gap-x-[2em] h-full items-center justify-end;
}

.alt-nav svg {
  @apply size-7;
}

.hamburger {
  @apply hidden;
}

.hamburger:hover {
  @apply cursor-pointer;
}

.cancel {
  @apply hidden;
}

.search {
  @apply fixed top-0 left-0 right-0 z-20 bg-white p-2 h-[8.5em] grid place-content-center opacity-0 -translate-y-full transition-all duration-[0.3s] ease-in-out;
}

.search.show {
  @apply opacity-100 -translate-y-0;
}

.search svg {
  @apply stroke-black;
}

.search form {
  @apply w-fit flex items-center;
}

.search form input {
  @apply border p-3 w-full pr-10 rounded-xs focus-within:outline-1 focus-within:outline-gray-50;
}

.search form input::placeholder {
  @apply font-semibold;
}

@media screen and (min-width: 450px) {
  .search form input {
    @apply w-[20em];
  }
}

@media screen and (min-width: 550px) {
  .search form input {
    @apply w-[25em];
  }
}

@media screen and (min-width: 650px) {
  .search form input {
    @apply w-[30em];
  }
}

@media screen and (min-width: 750px) {
  .search form input {
    @apply w-[40em];
  }
}

@media screen and (max-width: 750px) {
  .navbar__logo {
    grid-column: 2/4;
    grid-row: 2/2;
    place-content: center;
    display: flex;
    justify-content: center;
  }

  nav {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
  }

  .alt-nav {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  .hamburger {
    @apply w-[1.5em] h-[1.2em] flex flex-col justify-around;
  }

  .hamburger > div {
    @apply bg-gray-800 w-full h-[0.15em] rounded-sm;
  }

  .cancel {
    @apply absolute top-3 left-[87%] text-4xl block;
  }

  .cancel {
    @apply cursor-pointer;
  }

  nav ul {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 62%;
    padding-block-start: 6em;
    padding-inline-start: 2em;
    background-color: #fff;
    opacity: 0;
    display: block;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    z-index: 1000;
  }

  nav.show ul {
    transform: translateX(0);
    opacity: 1;
  }

  nav ul li {
    @apply my-[0.6em];
  }
}

@media screen and (max-width: 420px) {
  nav ul {
    width: 80%;
  }
}

@keyframes slide-in {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
